<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myPokeGame.relationMapper.NFileTagRelationMapper">

    <select id="queryFileIdsByTagIds" parameterType="java.util.Map" resultType="string">
        SELECT t.`native_file_id`
        FROM t_nfile_tag_relation t
        WHERE t.`tag_id` IN
        <foreach collection="tagIds" item="tagId" open="(" separator="," close=")">
            #{tagId}
        </foreach>
        GROUP BY t.`native_file_id`
        HAVING COUNT(DISTINCT t.`tag_id`) = #{count};
    </select>

</mapper>