<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myPokeGame.mapper.NativeFileMapper">

    <select id="queryByMd5" resultType="com.myPokeGame.entity.NativeFile">
        SELECT * FROM t_nativefile t WHERE t.`md5` = #{md5}
    </select>

    <select id="queryAll" resultType="com.myPokeGame.entity.NativeFile">
        SELECT * FROM t_nativefile t
    </select>

</mapper>